{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "tailwindcss"
  ],
  "extends": [
    "airbnb-typescript",
    "next",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:tailwindcss/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "@typescript-eslint/consistent-type-exports": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/member-ordering": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "import/consistent-type-specifier-style": [
      "error",
      "prefer-top-level"
    ],
    "import/exports-last": "error",
    "import/first": "error",
    "import/group-exports": "error",
    "import/newline-after-import": "error",
    "import/no-commonjs": "error",
    "import/no-cycle": "error",
    "import/no-deprecated": "warn",
    "import/no-default-export": "error",
    "import/no-duplicates": "error",
    "import/no-empty-named-blocks": "error",
    "import/no-mutable-exports": "error",
    "import/no-self-import": "error",
    "import/no-unused-modules": [
      "error",
      {
        "missingExports": true
      }
    ],
    "import/no-unassigned-import": [
      "error",
      {
        "allow": [
          "**/*.css"
        ]
      }
    ],
    "import/no-useless-path-segments": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": [
          "external",
          "internal",
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "newlines-between": "always",
        "pathGroups": [
          {
            "group": "parent",
            "pattern": "@/**",
            "position": "before"
          }
        ]
      }
    ],
    "@next/next/no-img-element": "error"
  },
  "ignorePatterns": [
    "node_modules",
    ".next",
    "generated",
    "*.config.*",
    "public"
  ],
  "overrides": [
    {
      "files": [
        "app/**/*",
        "*.config.ts"
      ],
      "rules": {
        "import/no-default-export": "off"
      }
    },
    {
      "files": [
        "src/**/index.ts"
      ],
      "rules": {
        "import/no-unused-modules": "off"
      }
    }
  ]
}

